/*****************GENERAL*********************/
.table {
	margin-top: 10px;
}

h1 {
	margin-top: 10px;
	margin-bottom: 20px;
	text-decoration: underline;
}


/*****************HEADER*********************/
.image-header {
	width: 100%;
	border: none;
	border-radius: 0px !important;
}

.titre-header {
	margin-top: 150px !important;
}

.titre-header-main {
	font-size: 45px;
}




/****************MENU NAVIGATION*************/
.navbar-nav {
	width: 100%;
	justify-content: space-around;
}

nav {
	margin-bottom: 20px;
}


/****************PAGE ACCUEIL****************/
#presentation {
	width: 70%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
}


/**************SE CONNECTER*******************/
#form_login {
	margin-top: 100px;
	margin-bottom: 250px;
	padding-top: 20px;
	padding-bottom: 20px;
}


/**************MESSAGE*******************/
.message {
	color: white;
	margin-top: 10px;
}


/*************DASHBOARD*******************/
.stat {
	font-size: 4em;
}

.panel-stat {
	color: white;
}

.card-heading {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.lien_dashboard {
	color: black;
}


/***************MENU EPISODE PAGINATION**************/
.page-link {
	color: white !important;
}

.commentaire-contenu {
	height: 150px;
}


/***********CREATION/MODIFICATION EPISODE****************/
.contenu-episode {
	height: 300px;
}

.contenu-episode-row {
	margin-top: 20px;
}

.bouton-episode {
	margin-top: 20px !important;
}


/**************PAGE EPISODE TPL (front)*******************/
.commentaire-episode {
	background-color: #e5e7ea;
}


/****************LISTE COMMENTAIRE*************************/
.colonne-commentaire {
	width: 50% !important;
}

.row-signalements {
	background-color: #ffadad !important;
}

.row-supprime {
	background-color: #ffe89e !important;
}

